*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
.img-fluid{
	max-width: 100%;
	height: auto;
}
/*font-family: 'Alfa Slab One', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;
*/
header{
	width: 100%;
	padding: 2rem 0;
	position: absolute;
}
.container{
	width: 1148px;
	margin: 0 auto;
}
.navbar{
	display: flex;
	justify-content: space-between;
}
.top-contact{
	margin-bottom: 1rem;
}
.top-contact Span{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #3d2514;
}
.top-contact img{
	vertical-align: middle;
	margin-right: 1rem;
}
.menus{
	text-align: right;
}
.main-menu ul li{
	list-style: none;
	display: inline-block;
	margin: 2rem;
}

}
.main-menu ul li a{
	font-family: 'Bebas Neue', cursive;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	color: #3d2514;
	letter-spacing: 2px;

}
/*************************
* banner sectino code
**************************/
#banner{
	width: 100%;
	padding: 100px 0px;
	background-image: url(../img/bannergr.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 80vh;

}
.banner-container{
	display: flex;
}
.banner-lift{
	flex-basis: 50%;
	display: flex;
	height: 100vh;
	align-items: center;
}
.banner-right{
	flex-basis: 50%;
	padding-top: 2rem;
}
.banner-lift p{
	font-family: 'Bebas Neue', cursive;
	font-size: 24px;
	font-weight: 300;
	border: 3px dashed #3d2514;
	display: inline-block;
	padding: 2px 8px;
	color: #3d2514;
	text-transform: uppercase;
}
.banner-lift h1{
	font-family: 'Alfa Slab One', cursive;
	font-size: 114px;
	font-weight: 700;
	color: #3d2514;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 4px 4px rgb(255 255 255 / 70%);
}
.banner-lift h2{
	font-family: 'Alfa Slab One', cursive;
	font-size: 56px;
	font-weight: 700;
	color: #3d2514;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 4px 4px rgb(255 255 255 / 70%);
}
/*************************
* burger sectino code
**************************/
#burger{
	width: 100%;
	padding: 100px 0px;
}
.burger-content{
	display: flex;
}
.burger-lift, burger-right{
	flex-basis: 50%;
}
.burger-item{
	position: relative;
	margin: 16px;
}
.text-overlay{
	position: absolute;
	top: 20px;
	left: 40px;
}
.text-overlay h4{
	font-family: 'Bebas Neue', cursive;
	font-size: 25px;
	color: white;
	text-transform: uppercase;
	font-weight: 400;
}
.text-overlay h3{
	font-family: 'Bebas Neue', cursive;
	font-size: 42px;
	color: white;
	text-transform: uppercase;
	font-weight: 400;
}
.mb-2{
	margin-bottom: 32px;
}